
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.container {
  margin: 0 auto;
  height: 600px;
  width: 600px;
}

.board {
  height: 100%;
  width: 100%;
  background-color: black;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  padding: 5px;
  background-color: white;
}

.squarePlaceX {
  font-family: 'Indie Flower', cursive;
  color: black;
  text-align: center;
  font-size: 6em;
  height: 187.333px;
  width: 187.333px;
  padding: 5px;
}

.square {
  font-family: 'Indie Flower', cursive;
  color: black;
  text-align: center;
  font-size: 6em;
  height: 187.333px;
  width: 187.333px;
  padding: 5px;
}

.xScore, .oScore, .roundCounter {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

.oScore {
  position: relative;
  left: 380px;
}

.roundCounter {
  position: relative;
  left: 200px;
}

.topLeft {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.topRight{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.middle {
  border: 1px solid black;
}

.bottomLeft {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.bottomRight {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
